# Titanic: Machine Learning from Disaster

This is a notebook for the Titanic: Machine Learning from Disaster competition on Kaggle. 
The goal is to predict whether a passenger survived the Titanic disaster based on the passenger's information.

Now, although I've been doing a course to learn deep learning, this is a little counter-intuitive.
Why? 

Because tabular data isn't great for deep learning.

## Breaking down the Data

The data is split into two sets:
- training set (train.csv)
- test set (test.csv)

The training set contains the following columns:
- PassengerId
- Survived (0 = No, 1 = Yes)
- Pclass (Ticket class: 1 = 1st, 2 = 2nd, 3 = 3rd)
- Name
- Sex
- Age
- SibSp (# of siblings / spouses aboard the Titanic)
- Parch (# of parents / children aboard the Titanic)
- Ticket (Ticket number)
- Fare (Passenger fare)
- Cabin (Cabin number)
- Embarked (Port of Embarkation: C = Cherbourg, Q = Queenstown, S = Southampton)

## How to approach this?

In [1]:
from os import path
import pandas as pd

train_data_path = path.join('./data/train.csv')
training_data = pd.read_csv(train_data_path)
training_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
# Get rows where people survived (Survived = 1)
training_data

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64